<header class="header">
  <button class="header__hamburger" type="button">
    <svg>
      <use xlink:href="/assets/images/sprites.svg#menu"></use>
    </svg>
  </button>
  <a class="header__map" href="#" target="_blank" (click)="temp($event)">
    <svg>
      <use xlink:href="/assets/images/sprites.svg#map"></use>
    </svg>
  </a>
  <a class="header__logo" href="#" (click)="temp($event)">
    <img class="header__logo__image" src="/assets/images/logo.svg" alt="Куликово поле">
    <img class="header__logo__image header__logo__image--mobile" src="/assets/images/logo-small.svg" alt="Куликово поле">
    <img class="header__logo__image only_inversion" src="/assets/images/logo-inversion.png" alt="Куликово поле">
    <img class="header__logo__image header__logo__image--mobile only_inversion" src="/assets/images/logo-small-inversion.png" alt="Куликово поле">
  </a>
  <a class="header__language" href="#" (click)="onSwitchLang($event)">
    {{langService.selected.title}}
  </a>
  <a class="header__eye" href="#" (click)="temp($event)">
    <svg>
      <use xlink:href="/assets/images/sprites.svg#view"></use>
    </svg>
  </a>
  <button class="header__search" type="button">
    <svg>
      <use xlink:href="/assets/images/sprites.svg#search"></use>
    </svg>
  </button>
  <a class="button" href="#" (click)="temp($event)">
    Купить билет
  </a>
</header>
